body {
        margin: 0;
}
.body-container {
        margin: 50px 140px 140px 120px;
}

.slider {
        background-image: url("../images/Banner Image.png");
        max-width: 1320px;
        max-height: 600px;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
}

.slider-content {
        padding: 133px 344px 177px 344px;
        color: #fff;
        text-align: center;
        font-family: "Merriweather", serif;
}
.slider-content > h4 {
        font-size: 32px;
        font-weight: 400px;
        margin-bottom: 0px;
}
.slider-content > h2 {
        margin-top: 16px;
        font-size: 62px;
        font-weight: 900px;
}

.promo-section {
        text-align: center;
}
.promo-section > h1 {
        color: #f00;
        text-align: center;
        font-family: Inter;
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
}

.promo-section > h6 {
        color: #f00;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0;
}
.promo-section > h4 {
        color: #070211;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        margin-top: 16px;
}

.welcome-section {
        background-image: url("/images/Vectorrr.png");
        max-width: 1320px;
        max-height: 600px;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
        display: flex;
        margin-top: 100px;
        margin-bottom: 100px;
}
.welcome-texts {
        padding: 100px;
}
.welcome-texts > h2 {
        color: #fff;
        font-family: "Merriweather", serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 7.04px;
}
.welcome-texts > P {
        color: rgba(255, 255, 255, 0.8);
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
}
.btn {
        border-radius: 15px;
        padding: 10px;
        border: none;
}

.portfolio-section {
        margin-bottom: 0;
}

.portfolio-section > h5 {
        color: #f00;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0;
        width: 1320px;
}

.portfolio-section > h3 {
        color: #070211;
        font-family: "Merriweather", serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-top: 16px;
        margin-bottom: 22px;
}

.portfolio-section > p {
        color: rgba(7, 2, 17, 0.6);
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        width: 700px;
}
.portfolio-multi-images {
        width: 365px;
        height: 450px;
        flex-shrink: 0;
        padding: 24px 24px 24px 0px;
}

.newsletter-section {
        max-width: 1320px;
        height: 616px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(255, 0, 0, 0.05);
        text-align: center;
        padding: 80px 80px 0px 80px;
}
.newsletter-section > img {
        width: 150px;
        height: 150px;
        flex-shrink: 0;
}
.newsletter-section > h3 {
        color: #070211;
        text-align: center;
        font-family: "Merriweather", serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 0;
}

.newsletter-section > p {
        color: rgba(7, 2, 17, 0.6);
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 22px;
        margin-bottom: 48px;
}
.email {
        width: 448px;
        height: 72px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #fff;
        border: none;
}
.submitt {
        width: 210px;
        height: 72px;
        flex-shrink: 0;
        border-radius: 0px 50px 50px 0px;
        background: #f00;
        border: none;
}
