body {
        margin: 0;
}
.body-container {
        margin: 50px 140px 140px 120px;
}

.slider {
        background-image: url("../images/Banner Image.png");
        max-width: 1320px;
        max-height: 600px;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
}

.slider-content {
        padding: 133px 344px 177px 344px;
        color: #fff;
        text-align: center;
        font-family: "Merriweather", serif;
}
.slider-content > h4 {
        font-size: 32px;
        font-weight: 400px;
        margin-bottom: 0px;
}
.slider-content > h2 {
        margin-top: 16px;
        font-size: 62px;
        font-weight: 900px;
}

.promo-section {
        text-align: center;
}
.promo-section > h1 {
        color: #f00;
        text-align: center;
        font-family: Inter;
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
}

.promo-section > h6 {
        color: #f00;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0;
}
.promo-section > h4 {
        color: #070211;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        margin-top: 16px;
}
